.card__title {
	margin: 12px 0 0 0;

	font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1.625rem;
	line-height: 1.875rem;

	color: #1A1B22;
}

@media screen and (max-width: 768px) {
  .card__title {
    font-size: 1.375rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .card__title {
    line-height: 1.625rem;
    margin-top: 15.98px;
  }
}
