.card__title {
	margin: 12px 0 0 0;
  color: #1A1B22;
	font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
  font-size: 26px;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .card__title {
    font-size: 22px;
    line-height: 24px;
  }
}

@media screen and (max-width: 320px) {
  .card__title {
    line-height: 26px;
    margin-top: 15.98px;
  }
}
