.saved-articles__container {
   /*border: 1px solid red;*/
  /*display: flex;*/
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 90%;
}

/*@media (max-width: 399px) {*/
/*  .saved-articles__container {*/
/*    max-width: 288px;*/
/*  }*/
/*}*/
