.search__label {
	margin: 32px 0 0;

	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1.125rem;
	line-height: 1.5rem;

	color: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .search__label {
    margin: 16px 0 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .search__label {
    margin: 16px 0 0;
    font-size: 18px;
	  line-height: 24px;
  }
}
