.menu__sandwich {
  display: none;
}

@media (max-width: 600px) {
  .menu__sandwich {
    margin-right: 20px;;
    display: flex;
  }
}

/*@media (max-width: 320px) {*/
/*  .menu__sandwich {*/
/*    margin-right: 20px;;*/
/*    display: flex;*/
/*  }*/
/*}*/
