.popup-successful__content {
  width: 430px;
  min-height: 182px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  /*padding: 34px 36px;*/
  padding-top: 43px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 51px;
}

@media screen and (max-width: 540px) {
  .popup__content {
    width: calc(100% - 60px);
  }
}
