@import url(./__image/card__image.css);
@import url(./__text/card__text.css);
@import url(./__date/card__date.css);
@import url(./__title/card__title.css);
@import url(./__paragraph/card__paragraph.css);
@import url(./__link/card__link.css);
@import url(./__favourites/card__favourites.css);

.card {
  /*border: 1px solid red;*/
	display: flex;
  flex-direction: column;
  max-height: 576px;
  max-width: 400px;
  background: #FFFFFF;
  border-radius: 16px;

  cursor: pointer;
}

.card:hover {
	transition: opacity 0.3s;
	opacity: 0.8;
}

/* 768px */

@media screen and (max-width: 768px) {
  .card {
    height: 420px;
  }
}

 /*767px */

@media screen and (max-width: 767px) {
  .card {
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*600px */

@media screen and (max-width: 600px) {
  .card {
    max-height: 600px;
    max-width: 550px;
  }
}

 /*500px */

/*@media screen and (max-width: 500px) {*/
/*  .card {*/
/*    height: 440px;*/
/*  }*/
/*}*/



