@import url(../saved-articles/__container/saved-articles__container.css);
@import url(../saved-articles/__title/saved-articles__title.css);
@import url(../saved-articles/__sub-title/saved-articles__sub-title.css);
@import url(../saved-articles/__description/saved-articles__description.css);

.saved-articles {
  /* border: 1px solid red; */
  /*display: none;*/
  width: 100%;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 56px;

  /*background: #F5F6F7;*/
}

/*.search-result:hover {*/
/*	transition: opacity 0.3s;*/
/*	opacity: 0.8;*/
/*}*/

@media screen and (max-width: 768px) {
  .saved-articles {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 320px) {
  .saved-articles {
    padding-bottom: 32px;
  }
}
