.not-found__title {
	margin-top: 31px;

	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1.625rem;
	line-height: 1.875rem;

	text-align: center;

	color: #1A1B22;
}

@media screen and (max-width: 768px) {
  .not-found__title {
    font-size: 1.125rem;
	  line-height: 1.5rem;
  }
}
