.saved-articles__sub-title {
  /*border: 1px solid red;*/
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 2.875rem;
  margin: 0;
  margin-bottom: 30px;
  width: 530px;

  color: #1A1B22;
}

@media screen and (max-width: 768px) {
  .saved-articles__sub-title {
    font-size: 1.875rem;
    line-height: 2.125rem;
    width: 336px;
  }
}


@media screen and (max-width: 320px) {
  .saved-articles__sub-title {
    font-size: 36px;
    line-height: 40px;
    width: 285px;
  }
}
