.footer__list-item {
	 /*border: 1px solid red;*/
  padding: 0;
  margin-right: 42px;
	display: flex;
	list-style-type: none;
}

@media (max-width: 767px) {
  .footer__list-item {
    position: absolute;
    display: block;
    width: 184px;
    height: 120px;
  }
}
