@import url(./_fire/card__image_fire.css);
@import url(./_park/card__image_park.css);
@import url(./_taiga/card__image_taiga.css);

.card__image {
  /*height: 272px;*/
  /*max-width: 100%;*/
  width: 100%;
  height: 100%;

  /*max-width: 400px;*/
	background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  object-fit: cover;
}

@media (max-width: 1440px) {
  .card__image {
	  height: 200px;
  }
}

@media (max-width: 1023px) {
  .card__image {
	  height: 150px;
  }
}

@media (max-width: 767px) {
  .card__image {
	  height: 320px;
  }
}

@media (max-width: 766px) {
  .card__image {
    height: 250px;
  }
}

@media (max-width: 424px) {
  .card__image {
	  height: 196px;
  }
}
