.menu__color_grey {
  /*color: #B6BCBF;*/
  color: white;

  text-decoration: none;
	cursor: url(../../../images/Pointer.png), pointer;
}

.menu__color_grey:hover {
	transition: opacity 0.3s;
	opacity: 0.8;
}

.menu__color_grey:focus {
	color: #1A1B22;
}
